<h2 mat-dialog-title>Feld hinzufügen</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field *ngIf="data.type === 'pdf'">
    <mat-label>Feld aus der Vorlage</mat-label>
    <mat-select [(ngModel)]="current.id">
      <mat-option *ngFor="let field of data.possibleFields; let index=index" [value]="field.id"  [disabled]="field.disabled">
        Feld {{index}}
      </mat-option>
    </mat-select>
    <mat-hint>Der Feldname aus der pdf Vorlage</mat-hint>
  </mat-form-field>

  <ng-container *ngIf="data.type === 'xlsx'">

    <mat-grid-list cols="3" rowHeight="fit"  style="min-width: 600px; height: 100px; margin-bottom: 2rem" [gutterSize]="'10px'">
      <mat-grid-tile>
      <mat-form-field>
        <mat-label>Arbeitsmappe</mat-label>
        <mat-select [(ngModel)]="current.id" placeholder="Die Arbeitsmappe der Zelle">
          <mat-option *ngFor="let field of data.possibleFields" [value]="field.id">
            {{field.name}}
          </mat-option>
        </mat-select>
        <mat-hint>Die Arbeitsmappe aus der xlsx Vorlage</mat-hint>
      </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
      <mat-form-field>
        <mat-label>Spalte (A-ZZ)</mat-label>
        <input matInput [(ngModel)]="current.column" (ngModelChange)="columnChanged($event);" type="text" placeholder="Die Spalte der Zelle" pattern="[A-Z]+">
        <mat-hint>Die Spalte der Zelle die mit dem Wert gefüllt werden soll</mat-hint>
      </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
      <mat-form-field>
        <mat-label>Bezeichnung</mat-label>
        <input matInput [(ngModel)]="current.row" type="number" placeholder="Die Reihe der Zelle">
        <mat-hint>Die Reihe der Zelle die mit dem Wert gefüllt werden soll</mat-hint>
      </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>


  </ng-container>


  <mat-form-field>
    <mat-label>Bezeichnung</mat-label>
    <input matInput [(ngModel)]="current.name" (ngModelChange)="updateFilter($event)" type="text" placeholder="Eigene Feldbezeichnung" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredNames$ | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Felder mit gleichen Bezeichnungen werden Dokumenten weit zusammengelegt</mat-hint>
  </mat-form-field>

</mat-dialog-content>

<!--suppress HtmlDeprecatedAttribute -->
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCloseClick()" color="warn">Abbrechen</button>
  <button mat-raised-button (click)="createMappedField()" class="btn-success" [disabled]="!isValid()">Hinzufügen</button>
  <p *ngIf="isDuplicated()" style="color: #850e0e">Dieses Feld existiert bereits</p>
</mat-dialog-actions>
