@use 'sass:map';
@use '@angular/material' as mat;

$color-reddish: mat.get-color-from-palette(mat.$orange-palette, 300);

:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  @media (max-width: 945px) {
    flex-direction: column;
  }

  main {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    padding: 1rem;

    &.left {
      grid-area: content-left;
      mat-accordion {
        margin-top: 1rem;
        .field-container {
          display: flex;
          width: 100%;
          align-items: baseline;
          mat-form-field {
            flex: 1;
          }
        }
      }
    }

    &.right {
      mat-form-field {
       width: 100%;
      }
    }

    @media (max-width: 945px) {
      width:  calc(100% - 2rem);
    }
  }

  mat-panel-title {
    flex: 1 1 40%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  mat-panel-description {
    justify-content: flex-end;
  }


  mat-card {
    flex: 1;
    width: calc(100% - 2rem);

    mat-form-field {
      display: block;
      flex: 1;
    }

    &.warn-card {
      background-color: $color-reddish;
      margin: 2rem 0;

      mat-card-content {
        padding: 1rem;
      }
    }

    div.field-actions {
      margin: 0 0 1rem 0;
      background: #6633991a;

      mat-checkbox {
        line-height: 40px;
      }
    }

    .add-alt {
      margin: 0;
      background: #efeaf5;
      padding: 0 .5rem;
    }

    .no-add {
      margin: 0;
      background: #efeaf5;
      padding: .5rem;
    }
  }

  .mat-list-item {
    &.list-item {
      height: auto;
    }
  }
  .suffix-input{
    font-size: 1rem;
    max-width: 210px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: .5rem;
  }

}
