<main class="left">
  <mat-toolbar>
    <b>Vorlagen verwalten</b>
    <span class="toolbar-spacer"></span>
    <mat-checkbox [(ngModel)]="options.autoMapFields"
                  matTooltip="Auto-Mapping der Felder" aria-label="Auto map the imported form"
                  color="accent"
                  style="margin-right: .5rem"
    >
    </mat-checkbox>
    <button mat-flat-button class="btn-success" (click)="addFileTemplate()">
      <mat-icon>add</mat-icon>
      Vorlage hinzufügen
    </button>
  </mat-toolbar>
  <mat-toolbar>
    <mat-select [(ngModel)]="profileId" (closed)="changedProfile()" placeholder="Export Profil" [disabled]="!profiles.length" style="margin: 0 0 .3rem 0">
      <mat-option [value]="''">
        Kein Export Profil
      </mat-option>
      <mat-option *ngFor="let aprofile of profiles; let index=index" [value]="aprofile.id">
        {{aprofile.name}}
      </mat-option>
    </mat-select>
  </mat-toolbar>
  <mat-toolbar>
    <button mat-icon-button (click)="addProfile()" [disabled]="!dataSource.length" matTooltip="Neues Export Profil anlegen" aria-label="add an export profile">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="saveProfile()" [disabled]="!profileId" matTooltip="Aktuelles Export Profil speichern" aria-label="save the current export profile">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="showConfirmDialog(null, null, profileId, $event)" [disabled]="!profileId" matTooltip="Aktuelles Export Profil löschen" aria-label="remove the current export profile">
      <mat-icon>delete</mat-icon>
    </button>
    <span class="toolbar-spacer"></span>
    <button mat-stroked-button (click)="toggleSort()" style="min-width: 135px;" [disabled]="!dataSource.length" matTooltip="Dokumentenliste sortieren" aria-label="sort the document list">
      <mat-icon>swap_vert</mat-icon>
      {{currentSort}}
    </button>
  </mat-toolbar>

  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let doc of dataSource">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-checkbox class="max-label" [(ngModel)]="doc.export" (click)="$event.stopPropagation()" (ngModelChange)="changedExportOnDocument()"
                        matTooltip="{{doc.name}}" aria-label="Export the selected document"
                        color="primary"
          >{{doc.name}}</mat-checkbox>
        </mat-panel-title>
        <mat-panel-description>
          <button *ngIf="doc.type === 'pdf'" (click)="showFieldMappingDocument(doc, $event)" color="primary" mat-icon-button matTooltip="Feldnamen im Dokument anzeigen"
                  aria-label="Open the field mapping pdf">
            <mat-icon class="mat-icon-rtl-mirror">description</mat-icon>
          </button>

          <button *ngIf="doc.type !== 'resource'" (click)="showFieldMappingDialog(doc, $event)" color="primary" mat-icon-button matTooltip="Feld hinzufügen" aria-label="Open the field mapping dialog">
            <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
          </button>

          <button (click)="showDocument(doc, $event)" color="primary" mat-icon-button matTooltip="Original Dokument öffnen" aria-label="Open the original document">
            <mat-icon class="mat-icon-rtl-mirror">open_in_new</mat-icon>
          </button>

          <button (click)="remapDocument(doc, $event)" color="primary" mat-icon-button matTooltip="Dokument neu verknüpfen" aria-label="Link the document again">
            <mat-icon class="mat-icon-rtl-mirror">sync</mat-icon>
          </button>

          <button (click)="showConfirmDialog(doc, null, null, $event)" color="warn" mat-icon-button matTooltip="Dokument entfernen" aria-label="Remove the selected document">
            <mat-icon class="mat-icon-rtl-mirror">delete</mat-icon>
          </button>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="field-container" *ngFor="let node of (doc.mapped || [])">
        <mat-form-field class="no-padding">
          <mat-label>{{node.mappedName}}</mat-label>
          <input matInput [(ngModel)]="node.mappedName" type="text" placeholder="{{node.mappedName}}" (ngModelChange)="changingName()" (blur)="blurNameInput(node)">
        </mat-form-field>
        <button (click)="showConfirmDialog(null,node, null, $event)" color="warn" mat-icon-button matTooltip="Feld entfernen" aria-label="Remove the selected field">
          <mat-icon class="mat-icon-rtl-mirror">delete</mat-icon>
        </button>
        <mat-checkbox color="primary" [(ngModel)]="node.export" (ngModelChange)="changedExportOnField()">Exportieren &nbsp;</mat-checkbox>
      </div>
      <ng-container *ngIf="!doc.mapped">
        <p class="no-add">Diese Vorlage kann nur kopiert werden.</p>
      </ng-container>
      <ng-container *ngIf="doc.mapped?.length === 0">
        <p class="add-alt">Bitte füge erst ein neues Feld hinzu
          <button *ngIf="doc.type !== 'resource'" (click)="showFieldMappingDialog(doc, $event)" color="primary" mat-icon-button matTooltip="Feld hinzufügen" aria-label="Open the field mapping dialog">
            <mat-icon class="mat-icon-rtl-mirror">add</mat-icon>
          </button>
        </p>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-card *ngIf="!dataSource?.length" class="warn-card">
    <mat-card-header>
      <mat-card-subtitle>
        Füge zuerst mindestens eine Dokumentenvorlage hinzu.
      </mat-card-subtitle>
      <mat-card-title>
        Noch keine Dokumente hinzugefügt
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Wähle dafür die Original Dokumente aus. <br>
        Es wird ein Link zum Original gespeichert und bei jedem export wird die Original Vorlage verwendet.
      </p>
      <h4>Achtung: Serverzugriff wird benötigt wenn die Dateien auf dem Server liegen</h4>
    </mat-card-content>
  </mat-card>
</main>

<main class="right">
  <mat-toolbar>
    <button mat-flat-button (click)="createDocuments()" color="warn" [disabled]="!export.msgs.length">
      <mat-icon>save_as</mat-icon>
      Dokumente erstellen
    </button>
    <span class="toolbar-spacer"></span>
    <b>Unterlagen erstellen</b>
  </mat-toolbar>
  <mat-toolbar>
    <input matInput [(ngModel)]="export.suffix" type="text" placeholder="Export Ordner Suffix" class="suffix-input" (ngModelChange)="updateExport()">
    <span class="toolbar-spacer"></span>
    <button mat-icon-button (click)="openOutputFolder()" matTooltip="Ausgabe Ordner öffnen">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-toolbar>
  <mat-list *ngIf="!!export.msgs.length">
    <h4>Folgende Unterlagen werden erstellt</h4>
    <mat-list-item class="list-item" *ngFor="let msg of export.msgs">
      <li [innerHtml]="msg"></li>
    </mat-list-item>

    <h4>Werte die in die Unterlagen eingefügt werden</h4>
    <div *ngFor="let field of export.fields" style="margin-bottom: 1rem">
      <mat-form-field>
        <mat-label>{{field.mappedName}}</mat-label>
        <input matInput [(ngModel)]="field.value" type="text" placeholder="{{field.mappedName}}">
        <mat-hint><small><strong>Verwendet in: </strong>{{field.info}}</small></mat-hint>
      </mat-form-field>
    </div>
  </mat-list>

  <mat-card *ngIf="export.msgs.length && !!dataSource?.length" class="warn-card">
    Es wurden noch keine Felder für den export ausgewählt.
  </mat-card>
  <mat-card *ngIf="!export.msgs.length && !!dataSource?.length" class="warn-card">
    <mat-card-header>
      <mat-card-subtitle>
        Wähle zuerst mindestens eine Dokumentenvorlage für den Export aus
      </mat-card-subtitle>
      <mat-card-title>
        Noch keine Dokumente ausgewählt
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Markiere hierfür mindestens ein Dokument für den export indem Du es auswählst
      </p>
    </mat-card-content>
  </mat-card>
</main>
